.ab-body {
    h5{
        font-family: sm;
        font-size: 1.4rem;
        text-decoration: underline;
        margin-bottom: 1%;
    }
  p {
    font-size: 1.1rem;
    color: #333;
    line-height: 27px;
    margin-bottom: 1%;
  }

  img {
    width: 100%;
  }
}
.home-container{
    margin-top: 3%;
}