.home-container {
    padding: 0 10%;

    .contact-top {
        padding: 5% 0;
    }

    .contact-header {
        margin-bottom: 1.5%;
        h4 {
            font-size: 1.7rem;
            font-family: sm;
        }

        p {
            color: #999;
        }
    }

    .ct-card {
        width: 100%;
        height: auto;
        box-shadow: 0 4px 16px rgba(0, 0, 0, .15);
        padding: 5%;
        border-radius: 20px;
        min-height: 155px;

        ion-icon {
            font-size: 2rem;
            color: var(--main-color);
        }

        h5 {
            font-family: sm;
            font-size: 1.1rem;
            margin-bottom: 2%;
        }

        p {
            color: #333;
            margin-bottom: .5%;
        }
    }

    ion-input, ion-textarea {
        background-color: #f7f7f7;
        --padding-start: 15px;
        color: #000;
        font-family: sr;
        border-radius: 5px;
        --padding-top: 12px;
        --padding-bottom: 12px;
    }
    ion-button{
        font-family: sm;
        margin-top: 3%;
    }
}