<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">GWER - About Us</ion-title>
    <ion-buttons slot="end">
      <img src="../../assets/img/logo.jpg" alt="">
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="home-container">
    <div class="ab-top">
      <h4 class="ion-no-margin">
        What to Know
      </h4>
    </div>
    <div class="ab-body">
      <p class="ion-no-margin">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi tempore ipsum qui quae adipisci provident illum
        perferendis, facere officiis neque fugiat tenetur sunt, iure assumenda quaerat animi? Ducimus, id odit.
        perferendis, facere officiis neque fugiat tenetur sunt, iure assumenda quaerat animi? Ducimus, id odit.
      </p>
      <img src="../../assets/img/launch-gwer.jpg" alt="">
      <p class="ion-no-margin">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi tempore ipsum qui quae adipisci provident illum
        perferendis, facere officiis neque fugiat tenetur sunt, iure assumenda quaerat animi? Ducimus, id odit.
        perferendis, facere officiis neque fugiat tenetur sunt, iure assumenda quaerat animi? Ducimus, id odit.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi tempore ipsum qui quae adipisci provident illum
        perferendis, facere officiis neque fugiat tenetur sunt, iure assumenda quaerat animi? Ducimus, id odit.
        perferendis, facere officiis neque fugiat tenetur sunt, iure assumenda quaerat animi? Ducimus, id odit.
      </p>
      <img src="../../assets/img/launch-gwer.jpg" alt="">
      <p class="ion-no-margin">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi tempore ipsum qui quae adipisci provident illum
        perferendis, facere officiis neque fugiat tenetur sunt, iure assumenda quaerat animi? Ducimus, id odit.
        perferendis, facere officiis neque fugiat tenetur sunt, iure assumenda quaerat animi? Ducimus, id odit.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi tempore ipsum qui quae adipisci provident illum
        perferendis, facere officiis neque fugiat tenetur sunt, iure assumenda quaerat animi? Ducimus, id odit.
        perferendis, facere officiis neque fugiat tenetur sunt, iure assumenda quaerat animi? Ducimus, id odit.
      </p>
    </div>
  </div>
  <div class="main-footer ion-text-center">
    <h6 class="ion-no-margin">&copy; Copyright 2020, All rights reserved. Powered by DSD</h6>
  </div>
</ion-content>