ion-menu ion-content {
  --background: var(--ion-item-background, var(--ion-background-color, #fff));
}

ion-menu ion-list {
  padding: 20px 0;
}

ion-menu ion-list {
  border-bottom: 1px solid #f1f1f1
}

ion-menu ion-list ion-list-header {
  font-size: 22px;
  font-weight: 600;

  min-height: 20px;
}

ion-menu ion-item {
  --padding-start: 10px;
  --padding-end: 10px;
  border-radius: 4px;
}

ion-menu ion-item.selected {
  --background: rgba(var(--ion-color-primary-rgb), 0.14);
}

ion-menu ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu ion-item ion-icon {
  color: #616e7e;
}

ion-menu.md ion-item ion-label {
  font-family: sr;
  font-weight: normal;
}

ion-item.selected {
  --color: var(--ion-color-primary);
}

ion-footer {
  margin-top: 10%;
}

ion-footer::before {
  display: none;
}

.menu-bot {
  padding: 2% 3%;
}