<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">GWER - Reports</ion-title>
    <ion-buttons slot="end">
      <img src="../../assets/img/logo.jpg" alt="">
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="home-container">
    <div class="report-main">
      <h4 class="ion-no-margin">All Weekly Reports <ion-badge color="success">10</ion-badge>
      </h4>
      <ion-row>
        <ion-col size="4">
          <div class="rlp-card">
            <div class="rlp-top">
              <div>
                <h6 class="ion-no-margin ion-text-capitalize">week 33</h6>
                <ion-badge color="light" class="ion-text-capitalize">
                  <ion-icon name="newspaper"></ion-icon>
                  Volume 5
                </ion-badge>
              </div>
              <div>
                <span class="ion-text-capitalize">7th June 2020</span>
              </div>
            </div>
            <div class="rlp-bot">
              <ul>
                <li>
                  <p class="ion-no-margin">
                    Four regions below the annualized Non-Polio AFP rate of 3.0 per 100,000 population less than 15
                    years
                  </p>
                </li>
                <li>
                  <p class="ion-no-margin">
                    Four regions below the annualized Non-Polio AFP rate of 3.0 per 100,000 population less than 15
                    years
                  </p>
                </li>

                <li>
                  <p class="ion-no-margin">
                    Four regions below the annualized Non-Polio AFP rate of 3.0 per 100,000 population less than 15
                    years
                  </p>
                </li>
              </ul>
            </div>
            <div class="ion-text-right">
              <ion-button class="hmr-readbtn" [routerLink]="['/report-view']">
                <ion-icon name="newspaper" slot="start"></ion-icon>
                Read More
              </ion-button>
            </div>
          </div>
        </ion-col>
        <ion-col size="4">
          <div class="rlp-card">
            <div class="rlp-top">
              <div>
                <h6 class="ion-no-margin ion-text-capitalize">week 33</h6>
                <ion-badge color="light" class="ion-text-capitalize">
                  <ion-icon name="newspaper"></ion-icon>
                  Volume 5
                </ion-badge>
              </div>
              <div>
                <span class="ion-text-capitalize">7th June 2020</span>
              </div>
            </div>
            <div class="rlp-bot">
              <ul>
                <li>
                  <p class="ion-no-margin">
                    Four regions below the annualized Non-Polio AFP rate of 3.0 per 100,000 population less than 15
                    years
                  </p>
                </li>
                <li>
                  <p class="ion-no-margin">
                    Four regions below the annualized Non-Polio AFP rate of 3.0 per 100,000 population less than 15
                    years
                  </p>
                </li>

                <li>
                  <p class="ion-no-margin">
                    Four regions below the annualized Non-Polio AFP rate of 3.0 per 100,000 population less than 15
                    years
                  </p>
                </li>
              </ul>
            </div>
            <div class="ion-text-right">
              <ion-button class="hmr-readbtn" [routerLink]="['/report-view']">
                <ion-icon name="newspaper" slot="start"></ion-icon>
                Read More
              </ion-button>
            </div>

          </div>
        </ion-col>
        <ion-col size="4">
          <div class="rlp-card">
            <div class="rlp-top">
              <div>
                <h6 class="ion-no-margin ion-text-capitalize">week 33</h6>
                <ion-badge color="light" class="ion-text-capitalize">
                  <ion-icon name="newspaper"></ion-icon>
                  Volume 5
                </ion-badge>
              </div>
              <div>
                <span class="ion-text-capitalize">7th June 2020</span>
              </div>
            </div>
            <div class="rlp-bot">
              <ul>
                <li>
                  <p class="ion-no-margin">
                    Four regions below the annualized Non-Polio AFP rate of 3.0 per 100,000 population less than 15
                    years
                  </p>
                </li>
                <li>
                  <p class="ion-no-margin">
                    Four regions below the annualized Non-Polio AFP rate of 3.0 per 100,000 population less than 15
                    years
                  </p>
                </li>

                <li>
                  <p class="ion-no-margin">
                    Four regions below the annualized Non-Polio AFP rate of 3.0 per 100,000 population less than 15
                    years
                  </p>
                </li>
              </ul>
            </div>
            <div class="ion-text-right">
              <ion-button class="hmr-readbtn" [routerLink]="['/report-view']">
                <ion-icon name="newspaper" slot="start"></ion-icon>
                Read More
              </ion-button>
            </div>
          </div>
        </ion-col>
        <ion-col size="4">
          <div class="rlp-card">
            <div class="rlp-top">
              <div>
                <h6 class="ion-no-margin ion-text-capitalize">week 33</h6>
                <ion-badge color="light" class="ion-text-capitalize">
                  <ion-icon name="newspaper"></ion-icon>
                  Volume 5
                </ion-badge>
              </div>
              <div>
                <span class="ion-text-capitalize">7th June 2020</span>
              </div>
            </div>
            <div class="rlp-bot">
              <ul>
                <li>
                  <p class="ion-no-margin">
                    Four regions below the annualized Non-Polio AFP rate of 3.0 per 100,000 population less than 15
                    years
                  </p>
                </li>
                <li>
                  <p class="ion-no-margin">
                    Four regions below the annualized Non-Polio AFP rate of 3.0 per 100,000 population less than 15
                    years
                  </p>
                </li>

                <li>
                  <p class="ion-no-margin">
                    Four regions below the annualized Non-Polio AFP rate of 3.0 per 100,000 population less than 15
                    years
                  </p>
                </li>
              </ul>
            </div>
            <div class="ion-text-right">
              <ion-button class="hmr-readbtn" [routerLink]="['/report-view']">
                <ion-icon name="newspaper" slot="start"></ion-icon>
                Read More
              </ion-button>
            </div>
          </div>
        </ion-col>
        <ion-col size="4">
          <div class="rlp-card">
            <div class="rlp-top">
              <div>
                <h6 class="ion-no-margin ion-text-capitalize">week 33</h6>
                <ion-badge color="light" class="ion-text-capitalize">
                  <ion-icon name="newspaper"></ion-icon>
                  Volume 5
                </ion-badge>
              </div>
              <div>
                <span class="ion-text-capitalize">7th June 2020</span>
              </div>
            </div>
            <div class="rlp-bot">
              <ul>
                <li>
                  <p class="ion-no-margin">
                    Four regions below the annualized Non-Polio AFP rate of 3.0 per 100,000 population less than 15
                    years
                  </p>
                </li>
                <li>
                  <p class="ion-no-margin">
                    Four regions below the annualized Non-Polio AFP rate of 3.0 per 100,000 population less than 15
                    years
                  </p>
                </li>

                <li>
                  <p class="ion-no-margin">
                    Four regions below the annualized Non-Polio AFP rate of 3.0 per 100,000 population less than 15
                    years
                  </p>
                </li>
              </ul>
            </div>
            <div class="ion-text-right">
              <ion-button class="hmr-readbtn" [routerLink]="['/report-view']">
                <ion-icon name="newspaper" slot="start"></ion-icon>
                Read More
              </ion-button>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </div>
  </div>
  <div class="main-footer ion-text-center">
    <h6 class="ion-no-margin">&copy; Copyright 2020, All rights reserved. Powered by DSD</h6>
  </div>
</ion-content>