<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">GWER - Home</ion-title>
    <ion-buttons slot="end">
      <img src="../../assets/img/logo.jpg" alt="">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="home-main">
    <div class="home-top">
      <img src="../../assets/img/banner2.jpg" alt="">
    </div>
    <div class="home-container">
      <ion-grid>
        <ion-row>
          <ion-col size-md="12" size-sm="12" size-xs="12" size-lg="6" size-xl="6">
            <div class="home-left">
              <div class="hml-card">
                <ion-item class="ion-no-margin ion-no-padding">
                  <ion-thumbnail slot="start">
                    <img src="../../assets/img/maternal-health.png">
                  </ion-thumbnail>
                  <ion-label>
                    <h5 class="ion-no-margin ion-text-capitalize">Week 23</h5>
                    <ion-badge class="ion-text-capitalize">
                      <ion-icon name="calendar"></ion-icon>
                      7th June 2020
                    </ion-badge>
                    <p class="ion-no-margin">
                      In week 23, the total all-cause notifiable disease morbidity (as per IDSR Weekly Summary Reporting
                      Form) was 1,831 with 2 maternal deaths. Acute watery diarrhoea in persons above 5 years
                      contributed 79% to the notifiable diseases’ caseload during the week
                    </p>
                  </ion-label>
                </ion-item>
              </div>
            </div>
          </ion-col>
          <ion-col size-md="12" size-sm="12" size-xs="12" size-lg="6" size-xl="6">
            <div class="home-right">
              <div class="hmr-header">
                <h5 class="ion-no-margin ion-text-capitalize">in this issue</h5>
              </div>
              <div class="hmr-body">
                <ul>
                  <li>
                    <p class="ion-no-margin">
                      Four regions below the annualized Non-Polio AFP rate of 3.0 per 100,000 population less than 15
                      years
                    </p>
                  </li>
                  <li>
                    <p class="ion-no-margin">
                      Four regions below the annualized Non-Polio AFP rate of 3.0 per 100,000 population less than 15
                      years
                    </p>
                  </li>

                  <li>
                    <p class="ion-no-margin">
                      Four regions below the annualized Non-Polio AFP rate of 3.0 per 100,000 population less than 15
                      years
                    </p>
                  </li>
                </ul>
              </div>
            </div>
          </ion-col>
          <ion-col size-md="12" size-sm="12" size-xs="12" size-lg="6" size-xl="6">
            <div class="home-right">
              <div class="hmr-header">
                <h5 class="ion-no-margin ion-text-capitalize">Highlights</h5>
              </div>
              <div class="hmr-body">
                <p class="ion-no-margin hmr-p">
                  A total of 299 suspected cases of influenza-like illnesses were reported during the week with no death
                  through IDSR weekly reporting [Table 2]. Laboratory samples were sent from sentinel sites to Noguchi
                  Memorial Institute for Medical Research (NMIMR) for testing.
                </p>
                <div class="ion-text-right">
                  <ion-button class="hmr-readbtn" [routerLink]="['/report-view']">
                    <ion-icon name="newspaper" slot="start"></ion-icon>
                    Read More
                  </ion-button>
                </div>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

    </div>
    <div class="main-footer ion-text-center">
      <h6 class="ion-no-margin">&copy; Copyright 2020, All rights reserved. Powered by DSD</h6>
    </div>
  </div>
</ion-content>