<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">GWER - Editorial Policy</ion-title>
    <ion-buttons slot="end">
      <img src="../../assets/img/logo.jpg" alt="">
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="home-container">
    <div class="details">

      <h4>TYPES OF ARTICLES </h4>

      <p>
        The Ghana Weekly Epidemiological Report carries a range of article types. These are
      </p>
      <ul class="style2">
        <li>Research Articles&nbsp;</li>
        <li>Full Reports</li>
        <li>Outbreak Reports</li>
        <li>Notes from the Field</li>
        <li>Policy Notes</li>
        <li>Announcements</li>
      </ul>
      <p></p>

      <h4> RESEARCH ARTICLE CRITERIA </h4>
      <p>
        Author(s) research article should report on original primary research, but may as well report on systematic
        reviews of published research provided they adhere to the appropriate reporting guidelines which are detailed in
        our editorial policies.
      </p>

      <h4>PREPARING YOUR MANUSCRIPT</h4>
      <h5>A. TITLE PAGE </h5>
      <ul class="style2">
        <li>Title of article should be located on one full page; Times New Roman font type and Size 18 font size with
          1.0 spacing. </li>
        <li>Title page should list the full names, emails and institutional addresses of all author(s). The
          corresponding author’s name should be indicated with an asterisk. </li>
      </ul>

      <h5>B. ABSTRACT </h5>
      <p>
        The abstract should not exceed more than 350 words; The use of abbreviations in the abstract is discouraged. The
        abstract must include the following sections
        <strong>Background:</strong> the context, the purpose and the objectives of the study. <br>
        <strong>Methods:</strong> how the study was performed and statistical methods used <br>
        <strong>Results:</strong> the main findings <br>
        <strong>Conclusions:</strong> brief summary, potential implications and recommendations <br><br>

        <strong>Keywords</strong> <br>
        Three to five keywords must represent the main content of the article
      </p>

      <h5>C. INTRODUCTION</h5>
      <p>
        The introduction section of the research article should explain the background to the study, its aims, a summary
        of the existing literature and an appropriate justification for the conduction of the study or its contribution
        to the field. This section should clearly outline the researcher’s general and specific objectives.
      </p>

      <h5>D. METHODS </h5>
      <p>
        The methods section should properly detail; A profile of the study area if applicable The characteristics of
        study participants or description of materials The study design; a clear description of all processes,
        interventions and comparisons. The type of statistical analysis used, including a power calculation if
        appropriate
      </p>

      <h5>E. RESULTS</h5>
      <p>
        This section should encompass all findings of the study including; results of statistical analysis which must be
        included either in the text or as tables and figures.
      </p>

      <h5>F. TABLES AND GRAPHS</h5>
      <p>
        Tables, Graphs and Boxes should be limited to a maximum of three (3)
      </p>

      <h5>G. DISCUSSION</h5>
      <p>
        This section should discuss the implications of the author’s research findings in context of existing research
        and highlight limitations of the study.
      </p>

      <h5>H. CONCLUSIONS</h5>
      <p>
        The conclusion section should state clearly the main deductions of the study and provide an explanation of the
        importance and relevance of the study reported. Appropriate recommendations should be made in line with the
        study conclusions.
      </p>

      <h5>I. SOCO</h5>
      <p>
        The Single Overriding Communication Objective (SOCO) should be, – what public health actions should follow?
      </p>

      <h5>J. WORD LIMIT </h5>
      <p>
        Words should be limited to 2500 excluding References
      </p>

      <h5>K. LIST OF ABBREVIATIONS </h5>
      <p>
        If abbreviations are used in the text they should be defined in the text at first use, and a list of
        abbreviations should be provided in this section
      </p>

      <h5>L. ETHICS APPROVAL AND CONSENT TO PARTICIPATE </h5>
      <p>
        All manuscripts reporting studies involving human participants, human data or human tissue must include a
        statement on ethics approval and consent even where the need for approval was waived. It must as well include
        the name of the ethics committee that approved the study.
        <br><br>*If the study does not report on or involve the use of any animal or human data or tissue, please state
        “Not applicable” in this section
      </p>

      <h5>M. DECLARATION OF INTEREST</h5>
      <p>
        Declaration of competing interests is compulsory. Author(s) competing interests must be declared in this
        section. If author(s) do not have any competing interests, please state "The author(s) declare that they have no
        competing interests" in this section.
      </p>


      <h5>N. AUTHORS’ CONTRIBUTION</h5>
      <p>
        The individual contributions of authors to the manuscript should be specified in this section. Please use
        initials to refer to each author's contribution in this section. For example:
        <br><br>“This work was carried out in collaboration between all authors. Authors FAB and GKA drafted the
        manuscript. Authors BS and WO conducted rapid test as well as culture of CSF specimen. All data management and
        data analysis were performed by authors IBN and AB. All authors read and approved the final manuscript”
      </p>


      <h5>O. ACKNOWLEDGEMENTS </h5>
      <p>
        Author(s) are encouraged to acknowledge anyone who contributed towards the article including anyone who provided
        professional writing services or materials. Author(s) should obtain permission to acknowledge from all those
        mentioned in the Acknowledgements section
      </p>

      <h5>P. REFERENCES</h5>
      <p>
        Referencing format should follow the IEEE citation style. References must be listed at the end of the manuscript
        and numbered in the order that they appear in the text. Every reference referred in the text must also present
        in the reference list and vice versa. In the text, citations should be indicated by the reference number in
        brackets. The reference numbers must be finalized and the reference list fully formatted before submission.
        References should be limited to a maximum of 10.
      </p>



      <h4>FORMATTING YOUR MANUSCRIPT </h4>
      <h5>A. FILE FORMAT</h5>
      <p>
        Editable files are required for processing in production. The only acceptable file format for your main
        manuscript is Microsoft word (DOC, DOCX)
      </p>


      <h4>B. STYLE &amp; LANGUAGE</h4>
      <ul>
        <li>The manuscript should be written in English with simple lay out and must be summarized in maximum 5 pages.
          The text should be prepared in single column format. Bold face, italics, subscripts, superscripts etc. can be
          used. The text, excluding the abstract must be divided into sections with brief headings as outline in the
          PREPARING YOUR MANUSCRIPT section.</li>
        <li>Title of article format should be such that; Bold Font Type-Times New Roman and font size-18 with 1.15
          spacing. </li>
        <li>Main text format should be such that; Font Type-Times New Roman and font size-10 with 1.15 spacing. </li>
        <li>The entire text should be justified with 1cm margins. Sub headings should be Bold and Times New Roman font
          type and font size 14. </li>
        <li>Tables and Figures. should be numbered and cited in the text in sequence using Arabic numerals (i.e. Table
          1, Table 2; Figure 1, Figure 2). The Title of tables should be placed above the table while titles of figures
          placed at the bottom of tables. Table legends if applicable should be included underneath the table.</li>

      </ul>



    </div>
  </div>
  <div class="main-footer ion-text-center">
    <h6 class="ion-no-margin">&copy; Copyright 2020, All rights reserved. Powered by DSD</h6>
  </div>
</ion-content>